.container {
    background-color: rgba(37, 37, 37, 0.794);
    margin-bottom: 40px;
    border-radius: 5px;
    border: 3px solid #fff;
}

.container p {
    color: #fff;
}

.link {
    text-decoration: none;
    color: #fff;
}

.link:hover {
    color: gray;
}

.container p {
    font-size: 20px;
    font-weight: 700;
}

.image-flag {
    width: 300px;
    height: 200px;
}

.image {
    width: 100%;
    height: 100%;
}