.index {
    text-align: center;
    background-image: url(../img/font.png);
}

.index h1 {
    margin-top: 0;
    padding-top: 50px;
    font-size: 300%;
}

.title-h1 {
    color: rgb(255, 255, 255);
}

.content-conutry {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn-index {
    border: 2px solid #ffffff;
    padding: 30px 70px;
    background-color: rgba(128, 199, 246, 0.383);
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 50px;
    cursor: pointer;
}

.btn-index:hover {
    background-color: rgba(177, 221, 250, 0.383);
}