.index {
    text-align: center;
}

.index h1 {
    font-size: 300%;
}

.title-h1 {
    color: rgba(40, 40, 163, 0.822);
}

.content-conutry {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn-index {
    border: 2px solid black;
    padding: 30px 70px;
    background-color: rgba(128, 199, 246, 0.383);
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 50px;
    cursor: pointer;
}

.btn-index:hover {
    background-color: rgba(177, 221, 250, 0.383);
}