.content {
    background-image: url(../img/font.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    color: aliceblue;
    min-height: 100vh;
}

.back {
    border: 1px solid black;
    padding: 2px 30px ;
    text-decoration: none;
    color: #fff;
    margin-left: 2px;
}

.back:hover {
    background-color: gray;
}

.link-cont {
    display: block;
}

.content-recuadre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 46%;
    min-height: 80vh;
    border: 3px solid black;
    background-color: rgba(41, 39, 39, 0.157);
    text-align: center;
}

.title {
    font-size: 350%;
}

.img-content {
    width: 500px;
    height: 250px;
}

.image {
    width: 100%;
    height: 100%;
}


.info {
    text-align: center;
}

.info span {
    font-weight: 700;
}